<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Проект хакатон</title>
 </head>
 <body>
  <h2>Личный кабинет {{ username }}:</h2>
  <h3>Последний отправленный регламент:</h3>
  <p>ПЕРЕМЕННАЯ СДЕЛАЙ ТУТ ССЫЛКУ НА ПРИКАЗ</p>
  <p>Статус: ПЕРЕМЕННАЯ ПОКАЗЫВАЮЩАЯ СТАТУС. ПЕРЕМЕННАЯ ДАЮЩАЯ ВОЗМОЖНОСТЬ РЕДАКТИРОВАТЬ</p>
  <form action="" method="post">
  <p>  <input type="hidden" name="submit_button" value="Мои регламенты">
      <input type="submit" class="button7">
 </p>
  <p>  <input type="hidden" name="submit_button" value="Добавить регламент">
    <input type="submit" class="button7">
</form>
 </p>
  </form>
  <input type="hidden" name="submit_button" value="Реестр регламентов">
  <input type="submit" class="button7">
  </form>
 </body>
</html>

	
